* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-left: max(calc((100% - 60em) / 2), 0px);
    margin-right: max(calc((100% - 60em) / 2), 0px);
    border: 1px solid #c96;
    padding: 5px;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

h3 {
    font-size: 125%;
    font-weight: bold;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: #393;
}

codeblock {
    display: block;
    padding: 5px;
    background-color: #333;
    color: #DDD2bb;
    font-family: 'Roboto Mono', monospace;
    white-space: pre;
}

question {
    display: block;
    color: #b73;
    width: calc(100% - 10px);
    border: 1px solid #b73;
    padding: 5px;
    margin-top: 10px;
}

answer {
    display: none;
    color: #399;
}